/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/

.mapbox {
  position: relative;
  height: 250px;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 30px;
  border: 1px solid var(--jet);
  overflow: hidden;
}

.mapbox figure { height: 100%; }

.mapbox iframe {
  width: 100%;
  height: 100%;
  border: none;
  filter: grayscale(1) invert(1);
}

.contact-form { margin-bottom: 10px; }

.form-title { margin-bottom: 20px; }

.input-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  margin-bottom: 25px;
}

.form-input {
  color: var(--white-2);
  font-size: var(--fs-6);
  font-weight: var(--fw-400);
  padding: 13px 20px;
  border: 1px solid var(--jet);
  border-radius: 14px;
  outline: none;
}

.form-input::placeholder { font-weight: var(--fw-500); }

.form-input:focus { border-color: var(--orange-yellow-crayola); }

textarea.form-input {
  min-height: 100px;
  height: 120px;
  max-height: 200px;
  resize: vertical;
  margin-bottom: 25px;
}

textarea.form-input::-webkit-resizer { display: none; }

.form-input:focus:invalid { border-color: var(--bittersweet-shimmer); }

.form-btn {
  position: relative;
  background: var(--onyx);
  color: var(--light-gray);
  border: 1px solid var(--jet);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 18px;
  border-radius: 10px;
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  text-transform: capitalize;
  box-shadow: var(--shadow-1);
  cursor: pointer;
  transition: background-color var(--transition-1), color var(--transition-1), border-color var(--transition-1);
}

.form-btn ion-icon {
  font-size: 18px;
  margin-bottom: -2px;
  color: var(--vegas-gold);
}

.form-btn:hover {
  background: var(--jet);
  color: var(--white-1);
  border-color: var(--light-gray-70);
}

.form-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.form-btn:disabled:hover {
  background: var(--onyx);
  color: var(--light-gray);
  border-color: var(--jet);
}
