/*-----------------------------------*\
  #NAVBAR
\*-----------------------------------*/

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: hsla(240, 1%, 17%, 0.75);
  backdrop-filter: blur(10px);
  border: 1px solid var(--jet);
  border-radius: 12px 12px 0 0;
  box-shadow: var(--shadow-2);
  z-index: 5;
  transition: all 0.3s ease-in-out;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.navbar-link {
  display: inline-block;
  text-decoration: none;
  color: var(--light-gray);
  font-size: var(--fs-8);
  padding: 12px 5px;
  margin: 10px 5px;
  border-radius: 8px;
  transition: color var(--transition-1), transform var(--transition-1);
}

.navbar-link:hover,
.navbar-link:focus {
  color: var(--orange-yellow-crayola);
  transform: translateY(-5px);
}

.navbar-link.active {
  color: var(--orange-yellow-crayola);
  transform: none;
}

/* Ubuntu specific styles */
.navbar-item:last-child .navbar-link {
  background: var(--orange-yellow-crayola);
  color: var(--smoky-black);
  font-weight: var(--fw-600);
  position: relative;
}

.navbar-item:last-child .navbar-link:hover,
.navbar-item:last-child .navbar-link:focus {
  background: var(--orange-yellow-crayola);
  color: var(--smoky-black);
  transform: translateY(-5px);
}
